.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img{
    display: inline;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.hero__subtitle{
    color: var(--clr-slate800);
    font-size: 40px;
}

hero__title{
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -.05em;
}